Package: com.wizages.labelnotify
Name: Label Notify
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, applist, firmware (>= 7.0), preferenceloader
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: wizages <wizagesmax@gmail.com>
Author: wizages <wizagesmax@gmail.com>
Section: Tweaks
