{
   title = "LabelNotify";
   items = (
      {
         cell = PSGroupCell;
         label = TITLE;
      },
      {
         cell = PSSwitchCell;
         key = enabled;
         label = ENABLE_LABEL;
         default = 1;
         defaults = "com.wizages.labelnotify";
         PostNotification = "com.wizages.labelnotify/ReloadPrefs";
      },
      {
         cell = PSGroupCell;
      },
      {
         detail = labelnotifyColorController;
         cell = PSLinkListCell;
         label = COLORS;
      },
      {
         cell = PSGroupCell;
      },
      {
         bundle = AppList;
         cell = PSLinkCell;
         ALSettingsPath = "/var/mobile/Library/Preferences/com.wizages.labelnotify.plist";
         label = APP_SETTINGS;
         isController = 1;
         ALChangeNotification = "com.wizages.labelnotify/ReloadPrefs";
         ALAllowsSelection = 1;
         ALSettingsDefaultValue = "";
         ALSectionDescriptors = (
         		{
                     bundle = AppList;
               		action = "showPreferences";
               		"cell-class-name" = "ALDisclosureIndicatedCell";
               		"display-identifier-macro" = "@@DISPLAYIDENTIFIER@@";
               		"suppress-hidden-apps" = 1;
               		predicate = "isSystemApplication = FALSE";
               		"icon-size" = 29;
               		entry = {
               			PostNotification = "com.wizages.labelnotify/ReloadPrefs";
                        cell = PSLinkCell;
                        defaults = "com.wizages.labelnotify";
                        detail = labelnotifyLabelController;
                        label = "@@DISPLAYIDENTIFIER@@";
                        isController = 1;
                        overridePrincipalClass = 1;
                        bundle = AppList;
               		};
               },
            	{
               		bundle = AppList;
                     action = "showPreferences";
                     "cell-class-name" = "ALDisclosureIndicatedCell";
                     "display-identifier-macro" = "@@DISPLAYIDENTIFIER@@";
                     "suppress-hidden-apps" = 1;
                     predicate = "isSystemApplication = TRUE";
                     "icon-size" = 29;
                     entry = {
                        PostNotification = "com.wizages.labelnotify/ReloadPrefs";
                        cell = PSLinkCell;
                        defaults = "com.wizages.labelnotify";
                        detail = labelnotifyLabelController;
                        label = "@@DISPLAYIDENTIFIER@@";
                        isController = 1;
                        overridePrincipalClass = 1;
                        bundle = AppList;
                     };
            	}
      		);
      },
      {
         cell = PSGroupCell;
      },
      {
         detail = labelnotifyMiscController;
         cell = PSLinkListCell;
         label = MISC_TITLE;
      },
      {
         cell = PSGroupCell;
         label = "";
      },
      {
         action = "respring";
         cell = PSButtonCell;
         label = RESPRING_BUTTON;
      },
      {
         cell = PSGroupCell;
         label = "";
      },
      {
         detail = labelnotifyMakersController;
         cell = PSLinkListCell;
         label = MAKERS;
      },
      {
         cell = PSGroupCell;
         label = "";
         footerText = "© 2015 Wizages";
      },
      {
         action = "emailDev";
         cell = PSLinkCell;
         label = SUPPORT;
      }
   );
}